# Analisando o conjunto de dados de carros usados das Empresas Autotrader e carfax

Definição dos dados:
- **id:** Número de identificação do carro
- **brand:** Marca do carro
- **model:** Modelo do carro
- **year:** Ano de fabricação do carro
- **miles:** Milhas rodadas pelo carro
- **city_mileage:** Milhas rodadas pelo carro na cidade
- **highway_mileage:** Milhas rodadas pelo carro na estrada
- **horsepower:** Potência do carro
- **torque:** Torque do carro
- **engine_capacity_litre:** Capacidade do motor em litros
- **fuel_capacity:** Capacidade do tanque de combustível
- **num_cylinder:** Número de cilindros
- **num_seat:** Número de assentos
- **num_owners:** Número de donos
- **price:** Preço do carro
- **link:** Link do carro
- **condition:** Condição do carro
- **type:** Tipo do carro
- **doors:** Número de portas
- **wheel_drive:** Tração do carro
- **engine_type:** Tipo de motor
- **speed_levels:** Número de velocidades
- **front_headroom:** Altura da cabeça na frente
- **front_legroom:** Altura da perna na frente
- **rear_headroom:** Altura da cabeça atrás
- **rear_legroom:** Altura da perna atrás
- **service_records:** Registros de serviço

In [1]:
# Importando as bibliotecas
import pandas as pd

In [17]:
# Importando os dados
carros = pd.read_csv("Data/cars.csv", sep = ",", na_values = ["NaN", "na", "N/A", ""])

In [18]:
carros.head()

,id,brand,model,year,miles,city_mileage,highway_mileage,horsepower,torque,engine_capacity_litre,...,type,doors,wheel_drive,engine_type,speed_levels,front_headroom,front_legroom,rear_headroom,rear_legroom,service_records
0,3,Chevrolet,Volt LT,2019,27173,43,42,149,294,1.5,...,sedan,4,2,hybrid_gas_electric,6.0,37.8,42.1,35.8,34.7,4
1,6,Hyundai,Elantra SE,2017,76941,29,38,146,132,2.0,...,sedan,4,2,gas,6.0,39.0,42.2,37.0,35.7,16
2,7,Ford,Focus,2014,97027,27,37,159,146,2.0,...,sedan,4,2,gas,6.0,38.3,43.7,38.0,33.2,13
3,8,Honda,Civic,2016,95396,31,42,158,138,1.5,...,sedan,4,2,gas,6.0,37.5,42.3,36.8,37.4,26
4,9,Hyundai,Elantra SE,2019,28405,29,38,147,132,2.0,...,sedan,4,2,gas,6.0,39.0,42.2,37.0,35.7,5

## Análise Exploratória dos Dados

In [19]:
# Verificando o tamanho do dataset
carros.shape

(52, 27)

In [24]:
# Verificando os dados faltantes
carros.isnull().sum()

id                        0
brand                     0
model                     0
year                      0
miles                     0
city_mileage              0
highway_mileage           0
horsepower                0
torque                    0
engine_capacity_litre     0
fuel_capacity             0
num_cylinder              0
num_seat                  0
num_owners                0
price                     0
link                      0
condition                51
type                      0
doors                     0
wheel_drive               0
engine_type               0
speed_levels              1
front_headroom            0
front_legroom             0
rear_headroom             0
rear_legroom              0
service_records           0
dtype: int64

### Limpeza dos dados

In [27]:
# Transformando coluna link em empresa
carros["empresa"] = carros["link"].str.split("/").str[2].replace({"www.autotrader.com": "Autotrader", "www.carfax.com": "Carfax", "www.carvana.com": "Carvana"})

In [28]:
# Removendo as colunas que não serão utilizadas
carros.drop(["id", "link", "condition"], axis = 1, inplace = True)

In [31]:
# Removendo os dados faltantes
carros.dropna(inplace = True)

In [33]:
carros.describe()

,year,miles,city_mileage,highway_mileage,horsepower,torque,engine_capacity_litre,fuel_capacity,num_cylinder,num_seat,num_owners,price,doors,wheel_drive,speed_levels,front_headroom,front_legroom,rear_headroom,rear_legroom,service_records
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.0,51.000000,51.000000,51.0,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,2018.686275,33984.137255,28.745098,37.372549,176.176471,179.470588,1.839216,14.374510,4.039216,5.0,1.352941,21660.764706,4.0,2.156863,6.313725,38.672549,42.472549,37.241176,37.660784,7.431373
std,1.406985,22918.580263,5.613709,4.161542,33.758973,46.376871,0.380567,2.418582,0.280056,0.0,0.626850,3488.385097,0.0,0.543049,0.761320,0.926300,1.054908,0.448186,1.607243,4.700021
min,2014.000000,5000.000000,17.000000,24.000000,143.000000,99.000000,1.400000,8.900000,4.000000,5.0,1.000000,13590.000000,4.0,2.000000,6.000000,37.500000,41.100000,35.800000,33.200000,1.000000
25%,2018.000000,16328.500000,26.000000,35.500000,152.000000,138.000000,1.500000,12.400000,4.000000,5.0,1.000000,19496.000000,4.0,2.000000,6.000000,37.650000,42.200000,37.050000,37.400000,4.000000
50%,2019.000000,27440.000000,30.000000,38.000000,159.000000,184.000000,2.000000,14.000000,4.000000,5.0,1.000000,21998.000000,4.0,2.000000,6.000000,38.500000,42.300000,37.200000,37.400000,6.000000
75%,2019.500000,43085.000000,30.000000,40.000000,192.000000,192.000000,2.000000,15.300000,4.000000,5.0,2.000000,22994.000000,4.0,2.000000,6.000000,39.300000,42.400000,37.500000,38.300000,10.000000
max,2022.000000,97027.000000,55.000000,49.000000,288.000000,294.000000,3.500000,19.000000,6.000000,5.0,3.000000,33777.000000,4.0,4.000000,9.000000,40.400000,45.500000,38.000000,40.400000,26.000000